fieldset{
    max-width: 500px;
    margin: 50px auto;
    border-radius: 20px;
    border-style: hidden;
}
form{
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}
h1{
    text-align: center;
    color: #b92e63;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #202020;
    border: 1px solid lightpink;
    border-radius: 5px;
    color: white;
}
label{
    font-size: large;
    color: lightpink;
}
.button{
    background-color: #b92e63;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}
.div1{
    font-family: 'Lucida Sans', sans-serif;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #202020;
}
body{
    background: linear-gradient(30deg, #cf385e, #701028, #2f0000, #701028, #cf385e);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1) 
}